body {
	background-color: CadetBlue;
}

p {
	text-align: center;
}

code {
	text-align: left;
	display: block;
	margin: auto;
	width: 700px;
}

.main-content {
	display: flex;
	flex-direction: row;
	margin-right: 100px;
	margin-left: 100px;
	gap: 50px;
}

.posts-navigation {
	display: flex;
	flex-direction: column;
}

.posts {
	background-color: white;
	border: 2px black solid;
}

.navigation {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	justify-content: center;
	background-color: white;
	border: 2px solid black;
}

.links {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.links div {
	border: 2px solid black;
	background-color: white;
	padding: 20px;
}

img {
	width: 70%;
	margin: auto;
	display: block;
	border: 1px solid black;
	padding: 5px;
}


#welcome, #page-number, #page-label {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	background-color: white;
	border: 2px solid black;
}

#welcome {
	border: 4px solid black;
}

img#siamese {
	width: 30%;
}

/* These elements are found in example_post_template.html */
div.post {
	margin: 5px;
}

div.post span#post-title {
	color: darkolivegreen;
}
